:root {
    --blue: #00BFFF;
}

@font-face {
    font-family: echo;
    src: url(./MiSans-Light.ttf);
}

body {
    font-family: 'echo';
    font-weight: bold;
    scroll-behavior: smooth !important;


}

#nav {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 10px;
}

.recent-post-item {
    transition: 0.3s;
}

.recent-post-item:hover {
    box-shadow: none !important;
}