:root {
    --blue: #00BFFF;
}

@font-face {
    font-family: echo;
    src: url(./MiSans-Light.ttf);
}

body {
    font-family: 'echo';
    font-weight: bold;
}

#nav {
    background-color: var(--blue);
    padding: 10px;
}


.recent-post-item:hover {
    box-shadow: none !important;
}